.ProductItem {
  display: flex;
  border: 1px solid var(--secondary-color);
  padding: var(--space3);
  gap: var(--space3);
}

.ProductItem-priceAndStock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ProductItem-name {
  font-size: 18px;
  flex: 1;
}

.ProductItem-stock {
  font-size: 12px;
  align-self: flex-end;
}

.ProductItem-buy {
  cursor: pointer;
  user-select: none;
  background-color: var(--primary-color);
  color: #f2f2f2;
  padding: var(--space1) var(--space2);
  border-radius: 3px;
  align-self: center;
}

.ProductItem-buy--disabled {
  cursor: unset;
  pointer-events: none;
  background-color: var(--secondary-color);
}