.Header {
  display: flex;
  gap: var(--space4);
  padding: 0 0 var(--space3) 0;
  border-bottom: 1px solid var(--secondary-color);
}

.Header-logoAndTitle {
  display: flex;
  gap: var(--space3);
  align-items: center;
  flex: 1;
}

.Header-logo {
  width: 60px;
  height: 30px;
}

.Header-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background: var(--primary-color);
  padding: var(--space2) var(--space3);
  align-self: center;
  border-radius: 5px;
  color: #f2f2f2;
}

.Header-avatarAndUser {
  display: flex;
  align-items: center;
  gap: var(--space2);
}

.Header-user {
  font-size: 18px;
}

.Header-avatar {
  width: 40px;
}

.Header-cart {
  width: 40px;
  cursor: pointer;
}
