.ShoppingCartListItem {
  display: flex;
  flex-direction: column;
}

.ShoppingCartListItem-name {
  flex: 9;
  font-weight: bold;
}

.ShoppingCartListItem-price {
  flex: 6;
}

.ShoppingCartListItem-amountColumn {
  display: flex;
  flex: 7;
  gap: var(--space2);
}

.ShoppingCartListItem-amount {
  flex: 2;
}

.ShoppingCartListItem-totalPrice {
  flex: 4;
  text-align: right;
}

.ShoppingCartListItem-product {
  display: flex;
  gap: var(--space3);
}

.ShoppingCartListItem-actions {
  display: flex;
  align-items: center;
}

.ShoppingCartListItem-button {
  cursor: pointer;
  font-size: 11px;
  user-select: none;
  color: #0074D9;
}

.ShoppingCartListItem-button--disabled {
  color: var(--secondary-color);
  cursor: unset;
  pointer-events: none;
}
